<h1>Testing123: Home</h1>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/saved">New Article</a></li>
    <li><a href="/scrape">Scrape New Articles</a></li>
</ul>

<!-- Need a button with class ".btn .save" to handle all saved articles -->
<!-- Need a button with class ".btn .save-new" to handle all saved articles -->
<!-- Need a container div that will display all the articles  -->